.btn {
    border: none;
    background-color: hsl(360, 91%, 36%);
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px
      0px;
    color: hsl(0, 0%, 100%);
    display: inline-block;
    font-size: 22px;
    line-height: 22px;
    margin: 16px 16px 16px 20px;
    padding: 14px 34px;
    text-align: center;
    cursor: pointer;
    margin-top: 50px
}

.hide {
  display: none;
}

#finalScore {
display: none;

}

#question {
text-align: center;
}

#quiz h1 {
  font-size: 20px;
  padding-top: 200px;
}

.btn1 {
  display: inline-block;
  width : 135px;
  text-align: center;
  border : 1px solid blue;
  border-radius: 5px;
  cursor: pointer;
  padding : 5px;
  margin-top: 50px;
  margin-left: 100px;
}